<a href="https://colab.research.google.com/github/vasudev-sharma/AI_Residencies/blob/master/functions/nsmallest()%20%2B%20nlargest().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

### `nlargest` and `nsmallest`
Another way to subset a Pandas Dataframe is by using nlargest() and nsmallest() which sorts a specific column or list of columns and then subsets either n largest or n smallest rows

In [20]:
# nlargest():  Subset of the dataframe based on the 2 largest rating values
df.nlargest(2, 'rating') # (n, column_name): First column is n, and second column is the

     brand style  rating
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [21]:
# nsmallest(): Subset of the dataframe based on 2 smallest rating values
df.nsmallest(2, 'rating')

     brand style  rating
2  Indomie   cup     3.5
0  Yum Yum   cup     4.0